.header{
    height: 34vw;
    background: url('../../assets/header_img.png') no-repeat;
    margin: 30px auto;
    background-size: contain;
    position: relative;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 2s ease-in;
}

.header-contents h2{
    font-weight: 500;
    font-size: max(4.5vw, 22px);
    color: #fffcfc;
}
.header-contents p{
    font-size: 1vw;
    color: #fffcfc;
}
.header-contents button{
    padding: 10px 30px;
    background-color: #90ff22;
    color: rgb(213, 70, 4);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition-property: 0.3s;
    font-size: 1vw;
}
.header-contents button:hover{
    background-color: #09e8ec;
}

@media (max-width:1050px) {
    .header-contents{ 
        max-width: 45%;
    }
   
}

@media (max-width:750px) {
    .header-contents{ 
        max-width: 65%;
    }
   .header-contents p{
    display: none;
   }
   .header-contents button{
    padding: 2vw 4vw;
   }
}